<h1>Hola, {{user.nombre}}</h1>

{{#if esTutor}}
{{#each cursos}}
    <div>
    <p>{{this.numCurso}} {{this.dia}} {{this.horario}}</p>
    </div>
{{/each}}
<p>Sos tutor</p>
{{else}}
<p>No sos tutor</p>
{{/if}}